<div class="create-user-button">
  <button mat-fab color="accent" (click)="openCreateUserDialog()">
    <mat-icon>add</mat-icon><mat-icon>account_circle</mat-icon>
  </button>
</div>
<div class="event-card" *ngFor="let event of events">
  <div class="card event">
    <div class="card-header">
      <h5 class="card-title">{{ event.title }} ({{ event.ageRestriction }}+)</h5>
      <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-calendar"></i> {{ event.date | date }}</h6>
      <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-geo-alt-fill"></i> {{ event.location }}</h6>
      <p class="card-text"><i class="bi bi-postcard"></i> {{ event.description }}</p>
    </div>
    <div class="card-body">
      <div class="ticket-wrapper">
        <div class="ticket" *ngFor="let ticket of event.tickets">
          <p class="ticket-type">{{ ticket.type }}</p>
          <p class="ticket-price">{{ ticket.price | currency }}</p>
          <p class="ticket-quantity">{{ ticket.quantity }} <i class="bi bi-ticket-fill"></i></p>
          <button class="btn btn-primary" (click)="openDialog(ticket.id)"><i class="bi bi-bag-fill"></i>
            Purchase</button>
        </div>
      </div>
    </div>
  </div>
</div>